Django==1.8.2
Markdown==2.6.2
argparse==1.2.1
certifi==2015.04.28
django-allauth==0.21.0
django-crispy-forms==1.4.0
django-haystack==2.4.0
django-markdown==0.8.4
django-tagging==0.4
django-tagging-autocomplete==0.4.2
django-taggit==0.16.2
-e git+git@github.com:rasca/django-taggit-jquery-tag-it.git@7fe8755781e0428b1d077fcbea68c8fb97349a91#egg=django_taggit_autocomplete-master
djangorestframework==3.1.3
elasticsearch==1.6.0
markdown2==2.3.0
oauthlib==0.7.2
psycopg2==2.6.1
pyelasticsearch==1.4
pysolr==3.3.2
python-openid==2.2.5
requests==2.7.0
requests-oauthlib==0.5.0
simplejson==3.8.0
six==1.9.0
urllib3==1.26.5
wsgiref==0.1.2
