{% extends "base.html" %}
{% load django_markdown %}

{% block content %}
<div style="margin-top:5%; margin-left:8%; padding-right: 30%;">
{% for verse in verses %}
<h3 style='color:#708090'><a href="{% url 'verse.views.verse_detail' pk=verse.pk %}">{{ verse.title }}</a></h3>
Posted by - {{verse.author}}<br> 
Tagged under -  {% for i in verse.tags.all%}
<a href="{% url 'verse.views.tags' name=i.name %}">{{ i }} | </a>{% endfor %}
<br>
<br>
<div style='background-color:#F0F8FF'>
<p style='color:blue'>
{{verse.text|markdown}}
</p>
	
</div>
<hr style="color:yellow">
{% endfor %}
<br>
<br>
</div>
{% endblock %}
